  <div class="heading-normal text-box">
    <span>
      <% if params[:category] %>
        <%= params[:category] %>
      <% else %>
      All
      <% end -%>
    </span>
    <hr>
  </div>
  <div class="row">
  <!-- Slider row -->
  <!-- Menu Small Plates -->
  <% @menu_items.each do |item| %>
    <div class="col-md-6 col-lg-6">
      <div class="menu-item">
        <div class="row">
          <div class="col-lg-12">
            <h4><%= item.title %></h4>
            <p><%= item.description %></p>
            <div class="price">
              <span><%= item.price %></span>
            </div>
            <br>
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  <% end -%>
    <!-- end Menu Listing -->
  </div>