<div class="container container-block">
  <div class="row">
    <div class="col-lg-12">
        <div class="heading-alfa-font heading-padding text-box">
            <span>Who is Perdu?</span>
        </div>
    </div>

    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-8 col-sm-push-4">
          <p>
            Perdu Cocktail-Bar is a collaboration between husband and wife team Huy Tran, 
            Ngan Nguyen and their hard working dedicated staff. 
            With Lud manning the stoves in the kitchen and Sandee directing front of house operations, 
            they strive to provide fresh, straightforward,local cuisine in a relaxing and friendly environment.
          </p>                               

          <div class="row">
           <div class="col-lg-6">
              <div class="img-nested img-stack">
                <%= image_tag "chris_pasta.jpg" %>
              </div>
              <span class="heading"><a href="#">Chris Orchard</a></span>
              <p>Chris was born in Edmonton, Alberta. He studied Education at the U of A before being lured into the kitchen; after which he obtained his culinary degree from N.A.I.T. He has worked in many different capacities as a chef and enjoys working with fresh farm to table ingredients. Chris likes the Edmonton Oilers, tennis, golf, fois gras, Okanogan wine, cheese burgers, and beer. Chris says:
              </p>
              <blockquote>"Kitchen work is team work. You can't have good food without a good team."</blockquote>
            </div>
            <div class="col-lg-6">
              <div class="img-nested img-stack">
                <%= image_tag "sandee.jpg" %>
              </div>
              <span class="heading"><a href="#">Sandee Anderson</a></span>
              <p>Sandee was born in Salt Coats, Saskatchewan and raised on her family farm. She has worked in management positions in various food and beverage establishments. Sandee is also responsible for the pastry at Rustic and handcrafts the butter tarts and pies from scratch. She likes baking, interior design, and Shiraz from the McLaren Vale region of Australia. Sandee says:
              </p>
              <blockquote>"Growing up on a farm in rural Saskatchewan taught me to respect nature and work hard for what I believe in."</blockquote>
            </div>
          </div>
        </div>
          
        <div class="col-sm-4 col-sm-pull-8 img-nested img-stack">
          <%= image_tag "rustic_front.jpg" %>
          <%= image_tag "front_foyer_b.jpg" %>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="slide-2" class="homeSlide">
  <div class="bcg"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -100px;"
      data-bottom-top="background-position: 50% 100px;"
      data-anchor-target="#slide-2"
  >
      <!-- <div class="hsContainer">
          <div class="hsContent"
              data-center="opacity: 1"
              data-center-top="opacity: 0"
              data--100-bottom="opacity: 0;"
              data-anchor-target="#slide-2"
          >
          </div>
      </div> -->
  </div>
</section>
