<div class="container container-block">
  <div class="row text-box">
    <div class="col-lg-12">
      <iframe 
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fperdu.pub&tabs=events&width=500&height=600&small_header=false
&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
  width="500" 
  height="600" 
  style="border:none;overflow:hidden" 
  scrolling="no" 
  frameborder="0" allowTransparency="true">
          
      </iframe>
    </div>
  </div>
</div>