<div class="container container-block">
  <div class="row text-box">
    <div class="col-lg-12 col-xs-12">
      <div class="fb-page" 
      data-href="https://www.facebook.com/perdu.pub/" 
      data-tabs="events" 
      data-small-header="false" 
      data-adapt-container-width="true" 
      data-hide-cover="false" 
      data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/perdu.pub/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/perdu.pub/">Perdu</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>