<div class="container container-block">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-box heading-alfa-font heading-padding">
        <span>Speakeasy...</span>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <p>
          When creating the interior design for what was once Tumbleweeds Restaurant, owners Chris and Sandee looked for inspiration from their own backyard. Everything in the restaurant from the signature cork wall and flooring from Bamboo Innovations to the stone fireplace from Moritz Masonry and Porter's Mortar was sourced and installed here in Medicine Hat. We believe in spending our money where we make our money.
        </p>
        <p>
          Here are links to some of our great local suppliers!
        </p>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 img-nested img-stack">
      <%= image_tag "goats.jpg" %>
    </div>
    <div class="col-lg-2">
      <i></i>
    </div>
    <div class="col-lg-4 img-nested img-stack">
      <%= image_tag "morecheese.jpg" %>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 google-map">
      <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJTcuc3MwZQjERRDRIrmGc_Og&zoom=14&key=AIzaSyDuH91L49iKgYo0ffielS80LbGa0s3_MNo"></iframe>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>