<div class="container container-block">
  <div class="row">
    <div class="col-lg-12">
      <span class="heading-normal">Reservation Submitted</span>
      <p>
        Your reservation has been sent to our manager.
      </p>
      <p>
        We will contact you soon for confirmation.
      </p>
      <p>
        Thank you!
      </p>
    </div>
  </div>
</div>