<div class="container container-block">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <span class="heading-alfa-font">To Book reservations</span>
        <br>
        <span class="heading-normal">Please call:  </span>
        <span class="heading-normal">
          <a href="tel:4035259938">(403) 525-9938</a>
        </span>
        <br>
        <p>(On a cell-phone, just click the number to call)</p>
        <br>
        <h1>Hours of Operation</h1>
        Tuesday to Saturday: 5pm - 10pm<br>
        Monday: 5pm - 9pm<br>
        CLOSED Sunday and all Stat Holidays<br>
      </div>
    </div>
  </div>
</div>