/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: "Alfa Slab One"; 
  src:font-url('AlfaSlabOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Alfa Slab One", sans-serif;
}
.row {
	width: 100%;
}

.navbar-default {
	border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #320101;
  box-shadow: 0 2px 20px #000;
  border: 0;
  z-index: 2;

  .navbar-nav .active a {
		color: #a20202;
	}

  .navbar-nav li a {
    font-size: 14px;
    color: #ffffff;
  }

  .navbar-brand a {
    padding-left: 15px;
    font-size: 1.3em;
    color: #ffffff;
    // -webkit-transition: color .5s;
    // transition: color .5s;
  }

  .navbar-brand a:hover, .navbar-brand a:focus {
    color: #FFC0CB;
  }

  .navbar-nav li a:hover, .navbar-nav li a:focus {
    color: #FFC0CB;
  }
}



#header {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: #ffffff;
  z-index: 1;

  h1 {
    text-align: center;
    margin: 0px;

    img {
      margin-bottom: 6px;
      width: 80%;
    }

    a {
      box-sizing: border-box;
      width: 370px;
      padding: 28px 22px 22px;
      background: #320101;
      display: inline-block;
      position: relative;
      box-shadow: 0 10px 20px #000;
    }

    a:after {
      position: absolute;
      content: '';
      display: block;
      bottom: -31px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 31px 185px 0 185px;
      border-color: #320101 transparent transparent transparent;
    }

  }
}



#footer {
  padding: 92px 0 30px;
  text-align: center;
  background: image-url('wood_BG.jpg') repeat;
  height: 100vh;
}

.copyright {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
}
